/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

.site-header {
 background-color: #17a2b8;
}

.site-title, .page-link {
 color: white !important;
}


$background-color: #181818 !default;

body {
  color: black;
}
