/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

.site-header {
 background-color: #38383b;
}

.site-title, .page-link {
 color: white !important;
}

.site-description {
 color: white !important;
}

.site-footer {
 background-color: #38383b;
}


